* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 32px;
  color: white;
  background-color: #3c4053;
  display: flex;
  justify-content: center;
}

header img {
  height: 124px;
  width: 124px;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  


  position: relative;
}

img {
  width:250px;
     margin: 0 auto;
}

header h1{
  margin-left: -90px;
  left: 46.5%;

  position: relative;
}

section ul {
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

section ul h2 {
  font-size: 150%;
  color: white;
  margin-top: 10px;
  font-weight: normal;
  margin-bottom: 0px;

  transition: transform 0.2s;
  position: relative;
  top: 50%;
}

section ul li {
  background-color: blue;
      width: 20rem;
      height: 6rem;
      max-width: 40rem;
      min-height: 10px;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
  transform: perspective(1000px);

  position: relative;
  transition: transform .2s;

  top: 50%;
}


.innertilt{
  transform: translateZ(20px)
}